services:

  # Nostr Relay Service
  nostr-relay:
    build: ./nostr-rs-relay
    image: nostr-rs-relay
    container_name: nostr-relay
    restart: on-failure
    volumes:
      - ./config.toml:/usr/src/app/config.toml
      - ./proxy-dashboard/public/favicon.ico:/usr/src/app/favicon.ico
      - type: bind
        source: ./relay-data
        target: /usr/src/app/db
    networks:
      - caddy

  # Nostr Relay Web Dashboard
  proxy-dashboard:
    build: ./proxy-dashboard
    image: nostr-proxy-dashboard
    container_name: proxy-dashboard
    user: "1000:1000"
    volumes:
      - tor-data:/var/lib/tor
    restart: on-failure
    environment:
      TOR_ENABLED: false
      RELAY_HOST: "nostr-relay"
      RELAY_PORT: "8080"
    networks:
      - caddy

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    environment:
      # Default domain "localhost" can be changed to your public domain.
      RELAY_DOMAIN: "localhost"
    ports:
      - 80:80
      - 443:443
    networks:
      - caddy
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy-data/data:/data
      - ./caddy-data/config:/config
    restart: unless-stopped

networks:
  caddy:
    name: caddy

volumes:
  tor-data:
    name: tor-data
